<%- include('../template/body.ejs') %>
    <div class="loginContainer container">
        <div class="mt-2" style="text-align: center;">
            <h3>Log In</h3>
        </div>
        <div class="mt-2">
            <div class="container">
                <form action="SUBMIT" method="POST">
                    <label for="username">Username</label>
                    <input type="text" class="username form-control" style="width: 100%;">
                    <label for="password" class="mt-4">Password</label>
                    <input type="password" name="password" class="form-control password" style="width: 100%;">
                    <a href="/forgotPassword" class="atag mt-3">Forgot password?</a>
                    <div>
                        <button type="submit" class="submitButton mt-4 btn btn-outline-danger">Log In</button>
                    </div>
                    <div>
                        <a href=""></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('../template/end.ejs') %>